astroid==2.15.6
autopep8==2.0.2
certifi==2023.7.22
charset-normalizer==3.2.0
dill==0.3.7
docutils==0.20.1
greenlet==2.0.2
idna==3.4
isort==5.12.0
Kivy==2.2.1
Kivy-Garden==0.1.5
lazy-object-proxy==1.9.0
mccabe==0.7.0
platformdirs==3.10.0
psycopg2==2.9.6
pycodestyle==2.11.0
Pygments==2.15.1
pylint==2.17.5
python-dotenv==1.0.0
requests==2.31.0
schedule==1.2.0
SQLAlchemy==2.0.0
tomli==2.0.1
tomlkit==0.12.1
typing-extensions==4.7.1
urllib3==2.0.4
wrapt==1.15.0
